:root {
  --background-color: #f1faee;
  --dark-blue: #1d3557;
  --aquamarine: #2cc798;
  --dark-mode-bg: #1f1f1f;

  --modern-font: "Jersey 10", sans-serif;
  --text-font: "Patua One", serif;
}

/* //MARK: Globals ================================================================================================= */

body {
  background-color: var(--background-color);
  transition: background-color 0.3s ease;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/background.webp");
  background-size: 220%;
  opacity: 0.048;
  transition: background-image 1s ease;
}

body {
  font-family: var(--text-font);
}

.main,
.main__my-info,
.main__self-info,
.main__skills,
.main__portfolio,
.main__contact,
.footer {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  row-gap: 0;
}

h2 {
  font-family: var(--modern-font);
  font-size: 3.2rem;
  align-self: center;
  margin: 1.8rem 0;
  margin-top: 3rem;
}

.desktop-navbar,
.main__my-info--desktop,
.portfolio__container,
.overlay {
  display: none;
}

scrollbar {
  background-color: #deccba00;
  border: 2px solid black;
  border-radius: 2px;
}

scrollbar thumb {
  background-color: var(--dark-blue);
  border-radius: 100px;
}

::-webkit-scrollbar {
  background-color: #deccba00;
  border: 2px solid black;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-blue);
  border-radius: 100px;
}

/* //MARK: Dark mode =====================================================================================================*/

.right-container__light-mode,
.right-container__light-mode2 {
  display: none;
}

body.dark-mode {
  background-color: var(--dark-mode-bg);
}

body.dark-mode .background-image {
  background-image: url("../assets/img/background_dark.webp");
  opacity: 0.05;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode p {
  color: white;
}

body.dark-mode .main__title span {
  color: #19a279;
}

body.dark-mode .portfolio__project {
  border: black solid 4px;
  background-color: white;
}

body.dark-mode .project__title {
  color: black;
}

body.dark-mode .project__button--more-info {
  background-color: #eaf4d1;
  border: black solid 4px;
}

body.dark-mode .contact__form {
  background-color: #3d4547;
}

body.dark-mode .form__label {
  color: white;
}

body.dark-mode .form__input,
body.dark-mode .form__textarea {
  background-color: #9aa4a7;
}

body.dark-mode .form__button--reset {
  background-color: rgb(171, 23, 23);
}

body.dark-mode .scroll-link__text,
body.dark-mode .content__text {
  color: black;
}

/* //MARK: MOBILE ================================================================================================================*/

/* Navbar ================================================================================================================*/

.navbar {
  height: 4.7rem;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2rem;
  padding-left: 0;
  border-bottom: solid 7px var(--aquamarine);
}

.navbar__logo {
  height: 100%;
}

.navbar__right-container {
  display: flex;
  column-gap: 0.7rem;
  align-items: center;
}

.right-container__dark-mode,
.right-container__light-mode {
  transform: scale(0.8);
  z-index: 2;
  cursor: pointer;
}

.right-container__button {
  display: none;
}

/* Main Section =========================================================================================================*/

.main__title {
  margin-top: 2.5rem;
  font-family: var(--modern-font);
  font-size: 3.8rem;
  line-height: 2.5rem;
  text-align: center;
}

.main__title-container {
  height: 50px;
}

.main__title span {
  font-size: 2.8rem;
  color: #1c8264;
  stroke: 10px black;
}

.main__profile-photo {
  overflow: hidden;
  margin-top: 5rem;
  width: 100%;
  animation: move-photo 1s ease;
}

@keyframes move-photo {
  0% {
    transform: translateX(400px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100;
  }
}

.main__info {
  margin: 1.8rem auto;
  padding: 0 1.5rem;
  font-size: 0.018vw;
  text-align: center;
}

.main__cv-button {
  height: 3.5rem;
  background-color: var(--dark-blue);
  width: 55%;
  align-self: center;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
  transition: box-shadow 0.5s ease;
}

.main__cv-button:hover {
  background-color: #285491;
  box-shadow: 0px 1px 20px 1px var(--dark-blue);
  -webkit-box-shadow: 0px 1px 20px 1px var(--dark-blue);
  -moz-box-shadow: 0px 1px 20px 1px var(--dark-blue);
}

/* About me Section ======================================================================================================*/

.self-info__text {
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* SKills Section =======================================================================================================*/

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.skills__logos {
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
  position: relative;
  background-color: var(--aquamarine);
  border-top: 8px solid var(--dark-blue);
  border-bottom: 8px solid var(--dark-blue);
}

.skills__logos:before,
.skills__logos:after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  content: "";
  z-index: 2;
}

.skills__logos:before {
  left: 0;
  background: linear-gradient(to left, #2cc79800, var(--aquamarine));
}

.skills__logos:after {
  right: 0;
  background: linear-gradient(to right, #2cc79800, var(--aquamarine));
}

.skills__logos:hover .logos__slide {
  animation-play-state: paused;
}

.logos__slide {
  display: inline-block;
  animation: 9s slide infinite linear;
}

.logos__slide img {
  height: 100px;
  width: 100px;
  margin: 0 20px;
  margin-top: 5px;
}

/* Projects Section ==================================================================================================== */

.portfolio__project {
  max-width: 100%;
  background-image: url("../assets/img/overlay_background.webp");
  background-size: contain;
  padding: 0.7rem 0;
  padding-top: 0;
  border-radius: 10px;
  border: black solid 5px;
  margin: 0.5rem;
  margin-bottom: 2rem;
}

.project__image {
  width: 100%;
  border-bottom: solid white 5px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.project__info-container {
  padding: 0 0.7rem;
}

.project__title {
  margin: 0.7rem 0;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: white;
}

.project__button {
  display: block;
  width: 100%;
  margin: 0.3rem 0;
  margin-top: 0.5rem;
  background-color: #28589b;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: 4px solid black;
  text-decoration: none;
  text-align: center;
  padding: 0.4rem 0;
}

.project__button--more-info {
  background-color: white;
  border: solid 3.5px black;
  color: var(--dark-blue);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1d3557d5;
  z-index: 5;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../assets/img/overlay_background.webp");
  background-size: contain;
  padding: 25px 15px;
  border-radius: 20px;
  max-height: 100%;
  width: 80%;
  border: 5px solid black;
}

.content__image {
  width: 100%;
  border-radius: 10px;
  border: 3px solid black;
  margin-bottom: 0.5rem;
}

.content__title {
  margin: 0.1rem 0;
  font-size: 1.3rem;
}

.content__text {
  font-size: clamp(0.5rem, 4.3vw, 1rem);
  color: black;
}

.content__list {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  column-gap: 0.4rem;
  margin-left: -2rem;
  margin-bottom: 1.5rem;
}

.list__item {
  padding: 0.4rem;
  background-color: rgb(200, 200, 207);
  border-radius: 10px;
}

.content__button__container {
  display: flex;
  column-gap: 1rem;
  row-gap: 0.5rem;
  align-items: center;
  flex-direction: column;
}

.content__button {
  padding: clamp(0.4rem, 3vw, 0.7rem) 0.2rem;
  background-color: var(--dark-blue);
  color: white;
  border-radius: 10px;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.content__button:hover {
  background-color: #28589b;
}

.button__image {
  display: none;
}

/* Contact Section ======================================================================================================*/

.main__contact {
  margin-bottom: 4rem;
  z-index: 1;
}

.contact__title {
  margin-top: 2rem;
}

.contact__text {
  text-align: center;
  margin-top: -1rem;
  padding: 0 2rem;
  font-size: 0.8rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  padding: 1rem;
  background-image: url("../assets/img/background-navbar.webp");
  background-size: contain;
  border: 4px solid black;
  border-radius: 10px;
  max-width: 100%;
  margin: 0.5rem;
}

.form__label {
  font-size: 1.4rem;
  color: white;
}

.form__input {
  height: 2rem;
  border-radius: 10px;
  border: solid black 2px;
  transition: filter 0.5s ease;
  background-color: rgb(219, 203, 203);
}

.form__textarea {
  border-radius: 10px;
  border: solid black 2px;
  height: 9rem;
  resize: none;
  transition: filter 0.7s ease;
  background-color: rgb(219, 203, 203);
}

.form__input:focus {
  filter: drop-shadow(0 0 5px white);
}

.form__textarea:focus {
  filter: drop-shadow(0 0 0.4rem white);
}

.form__botton-container {
  display: flex;
  flex-direction: column;
}

.form__button {
  margin-top: 1rem;
  height: 2.5rem;
  background-color: #28589b;
  color: white;
  border-radius: 10px;
  border: solid 3.5px black;
  cursor: pointer;
}

.form__button:hover {
  background-color: #2c6ac1;
}

.form__button--reset:hover {
  background-color: rgb(239, 53, 53);
}

.form__button--reset {
  background-color: rgb(197, 25, 25);
  margin-top: 0.3rem;
}

/* Footer Section =======================================================================================================*/

.footer {
  background-image: url("../assets/img/background-navbar.webp");
  background-size: contain;
  border-top: solid 7px var(--aquamarine);
  z-index: 1;
  overflow: hidden;
}

.footer__title {
  margin: 0.8rem 0;
  font-size: 2.5rem;
  color: white;
}

.footer__socials-container {
  max-width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 5px 40px;
}

.social {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid rgb(194, 194, 194);
}

.github:hover {
  background: linear-gradient(45deg, #66757f, #2a52ca, #3d4547, #1266b9);
}

.linkedin:hover {
  background: linear-gradient(45deg, #134ac0, #316ff6, #2a5bc5);
}

.gmail:hover {
  background: linear-gradient(45deg, #e1de21, #d44d1d, #3951ef);
}

.instagram:hover {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.social img {
  fill: white;
  height: 22px;
  transition: background-color 2s ease;
}

.footer__divisor {
  max-width: 100%;
  margin: 1rem 0;
}

.footer__owner-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.owner-section__image {
  max-width: 3rem;
  cursor: pointer;
}

.owner-section__text {
  color: white;
  text-align: center;
  width: 70%;
  margin: 0;
  margin-bottom: 2rem;
}

.footer__copyright {
  font-size: 0.7rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  color: white;
}

/* //MARK: RESPONSIVE TABLET ============================================================================================*/

@media (min-width: 768px) {
  .navbar__scroll-link--large-desktop {
    display: none;
  }

  h2 {
    font-size: 3.7rem;
    margin-top: 3.5rem;
  }

  .navbar {
    height: 6rem;
    padding-right: 1.5rem;
  }

  .navbar__right-container {
    display: flex;
    column-gap: 2rem;
    align-items: center;
  }

  .right-container__button {
    display: inline;
    text-decoration: none;
    background-color: var(--background-color);
    height: 3rem;
    align-self: center;
    border-radius: 20px;
    padding: 0 1rem;
    font-family: var(--text-font);
    z-index: 2;
  }

  .right-container__menu {
    transform: scale(1.3);
  }

  .right-container__dark-mode,
  .right-container__light-mode {
    transform: scale(1);
  }

  .main__title {
    margin-top: 3rem;
    font-size: 5rem;
    line-height: 0.7;
  }

  .main__title span {
    font-size: 3.6rem;
  }

  .main__info {
    margin: 3rem auto;
    padding: 0 3rem;
    font-size: 1.5rem;
  }

  .main__cv-button {
    height: 4rem;
    font-size: 1.5rem;
  }

  .self-info__text {
    font-size: 1.2rem;
    padding: 0 2.6rem;
  }

  .logos:before,
  .logos:after {
    width: 100px;
  }

  .carousel__logo--tablet {
    display: inline;
  }

  .portfolio__project {
    padding-top: 0;
    margin: 2rem;
  }

  .project__image {
    border-bottom: solid black 8px;
  }

  .project__info-container {
    padding: 0 0.7rem;
  }

  .project__title {
    margin: 1rem 0;
    font-size: 2rem;
  }

  .card__button-container {
    display: flex;
    flex-direction: row;
    gap: 0;
  }

  .project__button {
    width: 100%;
    height: 1.8rem;
    font-size: 1.2rem;
    border-radius: 12px;
  }

  .content__button__container {
    flex-direction: row;
  }

  .content__button {
    padding: 0.7rem 1rem;
    border-radius: 20px;
    width: 50%;
  }

  .main__contact {
    margin-bottom: 4rem;
  }

  .contact__text {
    margin-top: -1rem;
    padding: 0 3rem;
    font-size: 1.2rem;
  }

  .contact__form {
    padding: 1.3rem;
    margin: 2rem;
    row-gap: 0.9rem;
  }

  .form__label {
    font-size: 1.6rem;
  }

  .form__input {
    height: 2rem;
    font-size: 1.4rem;
    padding: 0.6rem;
  }

  .form__textarea {
    height: 10rem;
    font-size: 1.4rem;
    padding: 0.6rem;
  }

  .form__botton-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
  }

  .form__button {
    margin: 1rem 0;
    height: 2.5rem;
    font-size: 1.3rem;
    width: 100%;
  }

  .footer {
    border-top: solid 9px var(--aquamarine);
  }

  .footer__title {
    margin: 1rem 0;
    font-size: 3.2rem;
  }

  .footer__socials-container {
    transform: scale(1.4);
    padding: 20px 40px;
  }

  .footer__owner-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .owner-section__image {
    max-width: 5rem;
  }

  .owner-section__text {
    width: 50%;
    font-size: 1.3rem;
  }

  .footer__copyright {
    font-size: 1rem;
  }
}

/* //MARK: RESPONSIVE SMALL LAPTOP ==============================================================================================*/

@media (min-width: 1024px) {
  
  .logos__slide img {
    margin: 0 40px;
  }

  .portfolio__project__container {
    display: none;
  }

  .portfolio__container {
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin: 0 1.4rem;
  }

  .portfolio__card {
    box-sizing: border-box;
    position: relative;
    width: 99%;
    background-image: url("../assets/img/background-navbar.webp");
    background-size: contain;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 1rem;
  }

  .portfolio__card img {
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 10px;
    border: 5px solid white;
  }

  .card__image {
    width: 100%;
    height: 100%;
  }

  .portfolio__card:hover {
    transform: scale(1);
  }

  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 60px 30px;
    box-sizing: border-box;
    background-color: #285491;
    border: 5px solid black;
    border-radius: 20px;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 97%;
  }

  .portfolio__card:hover .card__content {
    transform: rotateX(0deg);
  }

  .card__title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    color: white;
    font-weight: 700;
    opacity: 100%;
  }

  .card__description {
    margin: 0;
    font-size: clamp(0.5rem, 1.2vw, 1.5rem);
    color: white;
    line-height: 1.2;
    opacity: 100%;
  }

  .card__button-container {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    column-gap: 1rem;
    opacity: 100%;
  }

  .card__button {
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
    height: 2.5rem;
    padding: 0 15px;
    border-radius: 8px;
    background-color: var(--dark-blue);
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.6s ease;
    text-decoration: none;
    text-align: center;
  }

  .card__button:nth-child(1) {
    padding: 0.58rem 0;
  }

  .card__button--secondary {
    background: transparent;
    color: var(--dark-blue);
    background-color: white;
    border: 1px solid #777;
    transition: background-color 0.6s ease;
  }

  .card__button:hover {
    background-color: #4479c2;
    border: 3px solid black;
  }

  .card__button--secondary:hover {
    background-color: rgb(222, 210, 210);
  }
}
/* //MARK: RESPONSIVE DESKTOP ============================================================================================*/

@media (min-width: 1200px) {
  .navbar,
  .main__my-info {
    display: none;
  }

  .background-image {
    background-size: contain;
    z-index: -1;
  }

  body {
    display: grid;
    grid-template-columns: 17% 83%;
    grid-template-rows: 1fr;
  }

  .desktop-navbar {
    display: block;
    position: fixed;
    grid-column: 1 / 2;
    width: 16.7%;
    height: 100%;
    max-height: 100vw;
    overflow: auto;
    background-image: url("../assets/img/background-navbar.webp");
    background-size: cover;
    border-right: solid 5px var(--aquamarine);
    scrollbar-width: thin;
    scrollbar-color: var(--aquamarine) white;
  }

  .desktop-navbar::-webkit-scrollbar {
    background-color: white;
  }

  .desktop-navbar::-webkit-scrollbar-thumb {
    background-color: var(--aquamarine);
  }

  .right-container__dark-mode2,
  .right-container__light-mode2 {
    cursor: pointer;
    max-width: 25%;
    align-self: center;
    margin-top: 2.3px;
  }

  .navbar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    width: 100%;
    padding: 1rem 0;
    left: 0;
  }

  .navbar-title__Container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -25px;
  }

  .navbar__logo--desktop {
    max-width: 35%;
  }

  .navbar__title {
    font-family: var(--modern-font);
    font-size: 2rem;
    padding-left: -1rem;
  }

  .navbar__scroll-link {
    background-color: var(--aquamarine);
    width: 75%;
    padding: 0.5rem;
    display: flex;
    column-gap: 0.6rem;
    border-radius: 20px;
    border: 4px solid #103c2f;
    transition: box-shadow 0.5s ease;
    cursor: pointer;
  }

  .navbar__scroll-link:hover {
    box-shadow: 0px 1px 25px 1px rgba(95, 216, 49, 0.98);
    -webkit-box-shadow: 0px 1px 25px 1px rgba(95, 216, 49, 0.98);
    -moz-box-shadow: 0px 1px 25px 1px rgba(95, 216, 49, 0.98);
  }

  .scroll-link__text {
    text-align: center;
    font-size: clamp(0.7rem, 1.2vw, 1rem);
    align-self: center;
  }

  .scroll-link__image {
    width: clamp(4vw);
  }

  .main,
  .footer {
    grid-column: 2 / 3;
    position: static;
  }

  .main__my-info--desktop {
    display: block;
    display: flex;
    align-items: center;
    margin: -1vw 1rem;
    margin-left: -1rem;
    margin-bottom: -1rem;
  }

  .main__profile-photo {
    overflow: hidden;
    margin-top: 0;
    width: 70%;
    max-width: 600px;
    align-self: center;
    margin-bottom: 4rem;
    margin-right: 3.36vw;
  }

  .main__title-container {
    height: 40px;
  }

  .main__title {
    font-size: 6rem;
    line-height: 67px;
  }

  .main__title span {
    font-size: 4rem;
    color: #1c8264;
    margin: 0;
    padding: 0;
  }

  .main__info {
    margin-top: 7rem;
    font-size: 1.3rem;
    padding: 0 5.5rem;
  }

  .main__cv-button {
    width: 30%;
  }

  .skills__logos:before,
  .skills__logos:after {
    width: 180px;
  }

  .logos__slide img {
    margin: 0 4.7vw;
  }

  .overlay-content {
    max-height: 80vh;
    max-width: 40vw;
    padding: 25px 20px;
  }

  .content__image {
    max-height: 18vw;
    margin-bottom: 0.25rem;
  }

  .content__title {
    margin: 0.4rem 0;
    font-size: 1.5rem;
  }

  .content__text {
    font-size: 1.05vw;
  }

  .content__button__container {
    flex-direction: row;
  }

  .content__button {
    padding: 0.7rem 1rem;
    border-radius: 20px;
    width: 20%;
  }

  .content__button:hover {
    background-color: #28589b;
  }

  .button__image {
    display: inline;
    width: 2rem;
  }

  .main__contact {
    z-index: 1;
  }

  .contact__form {
    width: 60%;
    margin: 2rem auto;
    margin-bottom: 0rem;
  }

  .form__input {
    height: 1rem;
  }

  .form__textarea {
    height: 7rem;
    font-size: 1rem;
  }

  .form__button {
    width: 30%;
    margin-bottom: 0;
  }

  .footer {
    z-index: 1;
  }

  .footer__socials-container {
    transform: scale(1);
  }

  .footer__socials-container a {
    width: 80px;
    height: 80px;
  }

  .footer__socials-container img {
    width: 30px;
    height: 30px;
  }
}
