:root {
    --background-color: #f1faee;
    --dark-blue: #1D3557;
    --aquamarine: #2CC798;
    --dark-mode-bg: #1f1f1f;

    --modern-font: "Jersey 10", sans-serif;
    --text-font: "Patua One", serif;
}

/* //MARK: Globals ================================================================================================= */

body {
    background-color: var(--background-color);
}

.background-image {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/background.jpg"); 
  background-size: 220%;
  opacity: 0.035;
}

body {
    font-family: var(--text-font);
}

.main,
.main__self-info,
.main__skills,
.main__portfolio,
.main__contact,
.footer {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    row-gap: 0;
}

h2 {
    font-family: var(--modern-font);
    font-size: 3.2rem;
    align-self: center;
    margin: 1.8rem 0;
    margin-top: 3rem;
}

/* //MARK: Dark mode =====================================================================================================*/

.right-container__light-mode {
    display: none;
}

body.dark-mode {
    background-color: var(--dark-mode-bg);
}

body.dark-mode .background-image {
    background-image: url("../assets/img/background_dark.jpg");
    opacity: 0.05;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode p {
    color: white;
}

body.dark-mode .main__title span {
    color: #19a279;
}

body.dark-mode .portfolio__project {
    border: black solid 4px;
    background-color: white;
}

body.dark-mode .project__button--more-info {
    background-color: #eaf4d1;
    border: black solid 4px;
}

body.dark-mode .contact__form {
    background-color: #3d4547;
}

body.dark-mode .form__label {
    color: white;
}

body.dark-mode .form__input,
body.dark-mode .form__textarea {
    background-color: #9aa4a7;
}

body.dark-mode .form__button--reset {
    background-color: rgb(171, 23, 23);
}


/* //MARK: MOBILE ================================================================================================================*/

/* Navbar ================================================================================================================*/


.navbar {
    height: 4.7rem;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.2rem;
    padding-left: 0;
    border-bottom: solid 7px var(--aquamarine);
}

.navbar__logo {
    height: 100%;
}

.navbar__right-container {
    display: flex;
    column-gap: .7rem;
    align-items: center;
}

.right-container__dark-mode,
.right-container__light-mode {
    transform: scale(0.8);
    z-index: 2;
    cursor: pointer;
}

.right-container__button {
    display: none;
}

/* Main Section =========================================================================================================*/



.main__title {
    margin-top: 2.5rem;
    font-family: var(--modern-font);
    font-size: 3.8rem;
    line-height: 2.5rem;
    text-align: center;
}

.main__title-container {
    height: 50px; 
}

.main__title span {
    font-size: 2.8rem;
    color: #1c8264;
    stroke: 10px black;
}

.main__profile-photo {
    overflow: hidden;
    margin-top: 5rem;
    width: 100%;
    animation: move-photo 1s ease;
}

@keyframes move-photo {
    
    0% {
        transform: translateX(400px);
        opacity: 0;
    }
    100% {
        transform: translateX(0) ;
        opacity: 100;
    }

}

.main__info {
    margin: 1.8rem auto;
    padding: 0 1.5rem;
    font-size: 1.1rem;
    text-align: center;
}

.main__cv-button {
    height: 3.5rem;
    background-color: var(--dark-blue);
    width: 55%;
    align-self: center;
    border-radius: 25px;
    color: white;
}

/* About me Section ======================================================================================================*/

.self-info__text {
    margin: 0 auto;
    padding: 0 1.5rem;
}

/* SKills Section =======================================================================================================*/

.carousel__logo--tablet {
    display: none;
}

.skills__carousel-container {
    overflow: hidden;
    width: 100%;
    background-color: var(--aquamarine);
    border-top: 8px solid var(--dark-blue);
    border-bottom: 8px solid var(--dark-blue);
}
  
.skills__carousel {
    display: flex;
    animation: scrollLeft 7s linear infinite;
}

.carousel__logo {
    position: relative;
    top: 3px;
    margin-right: 20px;
    align-self: center;
}
  
.carousel__logo img {
    width: 100px;
    height: 100px;
    align-self: center;
}
  
.skills__carousel-container:hover .skills__carousel {
    animation-play-state: paused;
}
  
@keyframes scrollLeft {

    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - 170px));
    }
    
}

/* Projects Section ==================================================================================================== */

.portfolio__project {
    max-width: 100%;
    background-color: #dbeab6;
    padding: .7rem 0;
    padding-top: 0;
    border-radius: 10px;
    border: black solid 5px;
    margin: .5rem;
    margin-bottom: 2rem;
}

.project__image {
    width: 100%;
    border-bottom: solid black 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.project__info-container {
    padding: 0 .7rem;
}

.project__title {
    margin: .7rem 0;
    font-size: 1.3rem;
}

.project__button {
    width: 100%;
    margin: .2rem 0;
    height: 2.5rem;
    background-color: var(--dark-blue);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.project__button--more-info {
    background-color: white;
    border: solid 3.5px black;
    color: var(--dark-blue);
}

/* Contact Section ======================================================================================================*/

.main__contact {
    margin-bottom: 4rem;
}

.contact__title {
    margin-top: 2rem;
}

.contact__text {
    text-align: center;
    margin-top: -1rem;
    padding: 0 2rem;
}

.contact__form {
    display: flex;
    flex-direction: column;
    row-gap: .4rem;
    padding: 1rem;
    background-color: #dbeab6;
    border: 4px solid black;
    border-radius: 10px;
    max-width: 100%;
    margin: .5rem;
}

.form__label {
    font-size: 1.4rem;
}

.form__input {
    height: 2rem;
    border-radius: 10px;
    border: solid black 2px;
    transition: filter .5s ease;
}

.form__textarea {
    border-radius: 10px;
    border: solid black 2px;
    height: 9rem;
    resize: none;
    transition: filter .7s ease;
}

.form__input:focus{
    filter: drop-shadow(0 0 3px black);
}

.form__textarea:focus{
    filter: drop-shadow(0 0 3px black);
}

.form__botton-container {
    display: flex;
    flex-direction: column;
}

.form__button {
    margin-top: 1rem;
    height: 2.5rem;
    background-color: var(--dark-blue);
    color: white;
    border-radius: 10px;
}

.form__button--reset {
    background-color: rgb(197, 25, 25);
    margin-top: .3rem;
}

/* Footer Section =======================================================================================================*/

.footer {
    background-color: var(--dark-blue);
    border-top: solid 7px var(--aquamarine);
}

.footer__title {
    margin: .8rem 0;
    font-size: 2.5rem;
    color: white;
}

.footer__socials-container {
    max-width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 5px 40px;
    background-color: var(--dark-blue);
}

.social {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid rgb(194, 194, 194);
}

.github:hover {
    background: linear-gradient(45deg, #66757f, #2a52ca, #3d4547, #1266b9);
}

.linkedin:hover {
    background: linear-gradient(45deg, #134ac0, #316ff6, #2a5bc5);
}

.gmail:hover {
    background: linear-gradient(45deg, #e1de21, #d44d1d, #3951ef);
}

.instagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.social img {
    fill: white;
    height: 22px;
    transition: background-color 2s ease;
}

.footer__divisor {
    max-width: 100%;
    margin: 1rem 0;
}

.footer__owner-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.owner-section__image {
    max-width: 3rem;
}

.owner-section__text {
    color: white;
    text-align: center;
    width: 70%;
    margin: 0;
    margin-bottom: 2rem;
}

.footer__copyright {
    font-size: .7rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: white;
}


  

/* //MARK: RESPONSIVE TABLET ============================================================================================*/

@media (min-width: 768px) {

    h2 {
        font-size: 3.7rem;
        margin-top: 3.5rem;
    }

    .navbar {
        height: 6rem;
        padding-right: 1.5rem;
    }

    .navbar__right-container {
        display: flex;
        column-gap: 2rem;
        align-items: center;
    }

    .right-container__button {
        display: inline;
        text-decoration: none;
        background-color: var(--background-color);
        height: 3rem;
        align-self: center;
        border-radius: 20px;
        padding: 0  1rem;
        font-family: var(--text-font);
        z-index: 2;
    }

    .right-container__menu {
        transform: scale(1.3);
    }

    .right-container__dark-mode,
    .right-container__light-mode {
        transform: scale(1);
    }

    .main__title {
        margin-top: 3rem;
        font-size: 5rem;
        line-height: .7;
    }
    
    .main__title span {
        font-size: 3.6rem;
    }
    
    .main__info {
        margin: 3rem auto;
        padding: 0 3rem;
        font-size: 1.5rem;
    }
    
    .main__cv-button {
        height: 4rem;
        font-size: 1.5rem;
    }

    .self-info__text {
        font-size: 1.2rem;
        padding: 0 2.6rem;
    }

    .skills__carousel {
        animation: scrollLeft 12s linear infinite;
    }

    .carousel__logo {
        margin-right: 40px;
    }

    @keyframes scrollLeft {

        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(calc(-100% - 630px));
        }
        
    }

    .carousel__logo--tablet {
        display: inline;
    }

    .portfolio__project {
        padding-top: 0;
        margin: 2rem;
    }
    
    .project__image {
        border-bottom: solid black 8px;
    }
    
    .project__info-container {
        padding: 0 .7rem;
    }
    
    .project__title {
        margin: 1rem 0;
        font-size: 2rem;
    }
    
    .project__button {
        max-width: 49.5%;
        height: 2.5rem;
        font-size: 1.2rem;
        border-radius: 12px;
    }

    .main__contact {
        margin-bottom: 4rem;
    }
    
    .contact__text {
        margin-top: -1rem;
        padding: 0 3rem;
        font-size: 1.2rem;
    }
    
    .contact__form {
        padding: 1.3rem;
        margin: 2rem;
        row-gap: .9rem;
    }
    
    .form__label {
        font-size: 1.6rem;
    }
    
    .form__input {
        height: 2rem;
        font-size: 1.4rem;
        padding: .6rem;
    }
    
    .form__textarea {
        height: 10rem;
        font-size: 1.4rem;
        padding: .6rem;
    }
    
    .form__botton-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 1rem;
    }

    .form__button {
        margin: 1rem 0;
        height: 2.5rem;
        font-size: 1.3rem;
        width: 100%;
    }
    
    .footer {
        border-top: solid 9px var(--aquamarine);
    }
    
    .footer__title {
        margin: 1rem 0;
        font-size: 3.2rem;
    }
    
    .footer__socials-container {
        transform: scale(1.4);
        padding: 20px 40px;
    }
    
    .footer__owner-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    
    .owner-section__image {
        max-width: 5rem;
    }
    
    .owner-section__text {
        width: 50%;
        font-size: 1.3rem;
    }
    
    .footer__copyright {
        font-size: 1rem;
    }

}